<div class="carousel slide" data-ride="carousel">

  <!-- 轮播图中的显示 点 -->
  <ol class="carousel-indicators">
    <li class="active"></li>
    <li></li>
    <li></li>
  </ol>

  <!-- 轮播图的核心展示区图片 -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://placehold.it/800x300" alt="" class="slide-image">
    </div>

    <div class="item">
      <img src="http://placehold.it/800x300" alt="" class="slide-image">
    </div>

    <div class="item">
      <img src="http://placehold.it/800x300" alt="" class="slide-image">
    </div>
  </div>

  <!-- 左右的箭头 -->
  <a href="javascript:$('.carousel').carousel('prev')" class="left carousel-control">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a href="javascript:$('.carousel').carousel('prev')" class="right carousel-control">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
