<!--<div class="container">
  <div class="row">
    <div class="col-md-9">
      <img src="http://placehold.it/800x300" alt="" class="slide-image">
      <h4>{{productTitle}}</h4>
      <div>
        <button type="button" class="btn btn-primary" (click)="goBack()">返回</button>
      </div>
    </div>
  </div>
</div>-->


<div class="thumbnail">
  <div class="row">
    <div class="col-md-9">
      <img src="http://placehold.it/800x300" alt="" class="slide-image">
      <h4>{{product.price}}元</h4>
      <h4>{{product.title}}</h4>
      <p>{{product.desc}}</p>
      <div>
        <button type="button" class="btn btn-primary" (click)="goBack()">返回</button>
      </div>
    </div>
  </div>
</div>
